div.botao {
    text-align: center;
    background-color: #e4cdb8;
    border: 1px;
    border-style: solid;
    border-radius: 1vw;
    border-color: black;
    width: 10vw;
    height: 4vw;
}

body {
    background-color: #FCE1C7;
}

button.btn {
    font-size: 100%;
}

header{
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #C89667;
    font-size: 2vw;
    width: 99vw;
}

div.bg-image {
    background-image: url(Imagens/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 75vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.texto1 {
    position: relative;
    width: 60vw;
}

section.segunda {
    background-color: #ebaf78;
    font-size: 200%;
}

h6 {
    font-size: 7lvh;
}

iframe {
    width: 50vw;
    height: 30vw;
    border-radius: 1vw;
}

hr {
    width: 99vw;
    height: 3vh;
    background-color: #c46003;
    border-color: rgba(245, 245, 220, 0);
}

section table {
    width: 98%;
    border: 0%;
    background-color: #E3C5A9;
    border-radius: 4%;
}

section td {
    background-color: #c89667a9;
}

footer table {
    text-decoration:underline;
    cursor: pointer;
}

ul.contatos {
    list-style-type: none;
    text-align: right;
    text-decoration:underline;
    cursor: pointer;
}

footer img {
    width: 8vw;
}
